@haeahn-design:registry=https://repo.haeahn.com/repository/npm-prod-hosted/
//repo.haeahn.com/repository/npm-prod-hosted/:_auth=MjAxNzA4MDI6UmxhZmxnaGsxMjMhQCM=
//repo.haeahn.com/repository/npm-prod-hosted/:always-auth=true

@haeahn-editor:registry=https://repo.haeahn.com/repository/npm-prod-hosted/
//repo.haeahn.com/repository/npm-prod-hosted/:_auth=MjAxNzA4MDI6UmxhZmxnaGsxMjMhQCM=
//repo.haeahn.com/repository/npm-prod-hosted/:always-auth=true
