.header {
    width: 100%;
    height: 100%;

    div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .container.right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
}